<h1><%= t('title.action.editing') + ' ' + t('mongoid.models.template') %></h1>

<%= render 'form', template: @template %>

<%= link_to t('title.action.show'), @template, class: 'btn btn-default' %> <%= link_to t('title.action.back'), templates_path, class: 'btn btn-default' %>
