<hr/>
<h1 class="text-primary">Certificados gerados</h1>

<div class="content">
  <div class="row justify-content-left">
    <% @certificates.each do |certificate| %>
      <div class="col-10 col-sm-5 col-md-5 col-lg-4 col-xl-3">
        <div class="text-center border-with-shadow">
          <%= link_to image_tag(certificate.image.url, alt: certificate.title, title: certificate.title, size: '300x150'), certificate.site, target: '_blank' %>
        </div>
        <br/>
      </div>
    <% end %>
  </div>
</div>