<% unless @certificates.blank? %>
  <h2 class="text-primary border-bottom"><%= "#{t('title.models.certificates')} #{t('title.certificate.generated')}" %></h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <% @certificates.each do |certificate| %>
    <div class="col">
      <div class="card h-100 text-center shadow">
        <%= image_tag(https(certificate.image.url), size: '300x150', class: 'card-img-top', alt: certificate.title) %>
        <div class="card-body">
          <h5 class="card-title"><%= certificate.title %></h5>
          <%= link_to t('title.action.event_site'), certificate.site, target: '_blank', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
