<div class="container d-flex justify-content-center">
  <div class="col-md-<%= cols %>">
    <div class="card">
      <h5 class="card-header bg-primary text-white"><%= title.html_safe %></h5>
      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
