<%= image_tag('certifico.jpg', class: 'img-responsive') %>

<h1 class="text-primary">Ajudamos você a organizar e entregar seus certificados</h1>

<h3>O que você pode fazer:</h3>

<ul>
  <li>Criar modelos com a imagem de fundo dos certificados</li>
  <li>Criar certificados baseados nos modelos existentes</li>
  <li>Os usuários podem gerar os certificados no momento que desejarem, pois vamos guardá-los com carinho :)</li>
  <li>O rodapé de cada certificado gerado vem com um link para validá-lo</li>
</ul>

<%= render 'shared/certificates' %>
