<h1>A gente ajuda você a organizar e entregar seus certificados</h1>

<h2>O que eu posso fazer?</h2>

<ul>
  <li>Criar modelos com a imagem de fundo dos certificados</li>
  <li>Criar certificados baseados nos modelos existentes</li>
  <li>Comprar créditos para cadastrar ou importar inscritos do certificado</li>
  <li>Os usuários podem gerar os certificados no momento que desejar, pois vamos guardá-los com carinho :)</li>
  <li>O rodapé de cada certificado gerado vem com um link para validá-lo</li>
</ul>
