<%= image_tag('certificar-me.png', class: 'img-responsive') %>

<h1>We help you organize and deliver their certificates</h1>

<h2>What can I do?</h2>

<ul>
  <li>Create models with the background image of certificates</li>
  <li>Create certificates based on existing models</li>
  <li>Buy credits to register or import enrolled certificate</li>
  <li>Users can generate the certificates when you want, because we save them with love :)</li>
  <li>The bottom of each generated certificate comes with a link to validate it</li>
</ul>
