<h1><%= t('title.action.new') + ' ' + t('mongoid.models.certificate') %></h1>

<%= render 'form', certificate: @certificate %>

<%= link_to t('title.action.back'), certificates_path, class: 'btn btn-default' %>
